@import '../../../theme/web/custom-variables';

// #############################################
// ##  Sidebar                                ##
// #############################################

.toggle-container {
    flex: 1;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 9px;
    padding: 6px;

    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        padding: 0;

        .card-image {
            width: 40px;
            height: 40px;
        }
    }
}

.mx-scrollcontainer-shrink {
    .mx-icon-chevron-right {
        transition: transform 0.5s ease;
    }

    .sidebar-footer {
        .profile-header {
            display: none;
        }
    }
}

.mx-scrollcontainer-shrink {
  &.mx-scrollcontainer-open {
    .mx-icon-chevron-right {
      transform: rotate(180deg); /* Rotate 180 degrees to mirror */
    }

    .sidebar-footer {
        padding: 10px;

        .profile-header {
            display: contents;
        }
    }
  }
}


